body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.children {
    background: #1569b9;
    width: 3.5%;
    height: 30%;
    display: inline-block;
    transition: all 0.1s;
}

div.children:hover {
    height: 90%;
}

div#main_container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}