body {

    margin: 0;
}

header, footer {
    width: 100%;
    height: 150px;
    background-color: #8a23ff;
}

aside {
    width: 200px;
    height: 600px;
    background: #658eff;
}

main {
    width: 700px;
    height: 600px;
    background: #EF0100;
}

#inner_shell {
    display: flex;
}

#outer_shell {
    width: 90%;
    height: 70%;
    aspect-ratio: 9/7;
}